@font-face {
    font-family: 'Open-Sans';
    src: url(../fonts/OpenSans-Regular.woff);
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Open-Sans';
    src: url(../fonts/OpenSans-Bold.woff);
    font-weight: 700;
    font-style: bold;
  }
  
  * {
    padding: 0;
    margin: 0;  
  }
  
  body {
    font-family: Open-Sans, serif;
  }
  
  .header {
    width: 100%;
    min-height: 450px;
    box-sizing: border-box;
    
    background-color: #666666;
    background-image: url('../images/banner-bg.jpg');
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
    position: relative;
    z-index: 0;
    
    color: #fff;
  }
  
  .header::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 1;
  }
  
  .banner {
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
    margin: auto;
    padding: 0 15px;
    
    position: relative;
    z-index: 2;
  }

  .navigation-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 36px 0 0 3px;
  }
  
  .navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    height: 40px;
  }

  #burger-menu {
    opacity: 0;
  }
  
  .logo {
    width: 180px;
    position: relative;
    margin-left: 0px;
  }
  
  .menu {
    display: inline-block;
    list-style-type: none;
  }
  
  .menu__menu-item {
    display: inline-block;
    
    font-family: 'Open-Sans';
    font-weight: normal;
    font-size: 13px;
    text-transform: uppercase;
    padding-right: 35px;   
  }
  
  .menu__menu-item:last-child {
    padding-right: 0px;
  }
  
  .menu__menu-item a:hover {
    text-decoration: underline;
  }
  
  .menu_item_link {
    text-decoration: none;
    color: #fff;
  }
  
  .title {
    display: block;
    max-width: 700px;
    box-sizing: border-box;
    text-align: center;
    margin: auto;
    padding-bottom: 145px;
    padding-top: 125px;
    
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 45px;
    line-height: 1.6;
  }
  
  .page-content{
    margin-top: 64px;
  }
  
  .page-content-wrap {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
    box-sizing: border-box;
  }
  
  .page-content-justify {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .trends {
      margin-top: 63px;
  }

  .trends__title {
    color: #0f0d0e;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 46px;
  }
  
  .trends__title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 15px auto 0;
  }
  
  .trend-list {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  .trend {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    box-sizing: border-box;
    width: calc(25% - 4px);
    min-height: 317px;
    background-color: #000;
    background-size: cover;
  }

  .trend::after {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #323232;
    opacity: 0.6;
    z-index: -1;
  }

  .trend-garden {
    background-image: url('../images/trend-garden.png');
  }

  .trend-cheese {
    background-image: url('../images/trend-cheese.png');
  }

  .trend-hiking {
    background-image: url('../images/trend-hiking.png');
  }

  .trend-vitamine {
    background-image: url('../images/trend-vitamine.png');
  }

  .trend-content {
    box-sizing: content-box;
    border: 3px solid rgba(133, 120, 79, .6);
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 4%;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 40px;
    padding-bottom: 36px;
  }

  .trend__title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 24px;
  }

  .trend__title-link {
    text-decoration: none;
    color: #ffffff;
  }

  .trend__title-link:hover {
    color: #b59f5b;
  }

  .trend__tag-list {
    margin-bottom: 15px;
  }

  @media (max-width: 1199px) {
    .trend-list {
      flex-wrap: wrap;
  }
}

  @media (min-width: 768px) and (max-width: 1199px) {
    .trend {
      width: calc(50% - 2px);
      margin-bottom: 4px;
      min-height: 246px;
    }

    .trend__title {
        font-size: 17px;
    }
}

@media (max-width: 767px) {
  .trend {
    width: 100%;
    margin-bottom: 3px;
    min-height: 230px;
  }

  .trend__title {
    font-size: 16px;
}
}


  .main {
    max-width: 778px;
    width: 100%;
  }
  
  .main-post {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
  }

  .main-post__photo {
    width: 100%;
    height: auto;
    background-color: #eff6f1;
    box-sizing: border-box;
  }
  
  .main-post__content {
      margin-left: 30px;
  }
  @media (min-width: 1200px) {
    .main-post__photo {
      width: 381px;
    }
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    .main-post {
      flex-wrap: wrap;
    }
    .main-post__photo-wrap {
      width: 100%;
      margin-bottom: 17px;
    }
    .main-post__photo {
      width: 92%;
    }

    .main-post__content {
      width: 92%;
    }

  }

  @media (max-width: 768px) {
    .main-post {
      flex-wrap: wrap;
    }
    .main-post__photo-wrap {
      width: 100%;
      margin-bottom: 17px;
    }
    .main-post__photo {
      width: 100%;
      max-width: 100%;
    }

    .page-content-justify {
      flex-wrap: wrap;
    }
  }
  
  .tags-list {
    list-style-type: none;
  }
  
  .tag-item {
    display: inline-block;
    margin-right: 20px;
  }
  
  .tag-item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    text-align: left;
  }
  
  .tag-item-link:hover {
    text-decoration: underline;
  }
  
  .main-post__header {
    margin-top: 15px;
    margin-bottom: 33px;
  }
  
  .main-post__header-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    font-weight: bold;
    color: #0f0d0e;
  }
  
  .main-post__header-link:hover {
    color: #b59f5b;
  }
  
  .meta {
    font-size: 12px;
    margin-bottom: 55px;
  }
  
  .meta-date {
    display: inline-block;
    color: #888888;
    margin-right: 16px;
  }
  
  .meta-author {
    display: inline-block;
    font-weight: bold;
  }
  
  .main-post__text {
    font-size: 15px;
    line-height: 1.46;
  }
  
  .main-post__text-p:nth-child(n+2) {
    margin-top: 20px;
  }
  
  .sidebox {
    width: 272px;
    flex-shrink: 0;
  }
  
  .sidebox__heading {
    color: #0f0d0e;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 46px;
  }
  
  .sidebox__heading::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 14px auto 0;
  }
  
  .sidebox__post-list {
    margin-bottom: 60px;
  }
  
  .sidebox__post-wrap {
    display: flex;
    width: 100%;
    align-items: start;
    margin-bottom: 22px;
  }
  
  .sidebox__post-wrap:last-of-type {
    margin-bottom: 60px;
  }
  
  .sidebox__post-photo {
    width: 70px;
    height: auto;
    margin-right: 20px;
    box-sizing: border-box;
    background-color: #f4f7f6;
  }
  
  .sidebox__post-content {
    display: block;
  }
  
  .sidebox__post-meta {
    display: block;
    font-size: 12px;
  }
  
  .sidebox__post-heading-link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.28;
  }
  
  .sidebox__post-heading-link:hover {
    color: #b59f5b;
  }
  
  .search__form_label_wrap {
    display: flex;
  }
  
  .search__form_label {
    width: 100%;
  }
  
  .search__form {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background-color: #f4f7f6;
    border: 0;
    outline: none;
    box-shadow: 0 1px #fbfcfc;
    
    font-size: 13px;
    padding: 6px 12px;
  }
  
  .search__form:focus {
    outline: 1px solid #b59f5b;
    outline-offset: -2px;
    box-shadow: 0 1px #e6dfc8;
  }
  
  .search-btn {
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    background-color: #b59f5b;
    border: 0;
    
    background-image: url("../images/search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px;
    font-size: 0;
    cursor: pointer;
  }
  
  .search-btn:hover {
    background-color: #323232;
  }
  
  .subscribe {
    margin-bottom: 61px; 
  }
  
  .subscribe__form {
    display: block; 
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    background-color: #f4f7f6;
    border: 0;
    outline: none;
    box-shadow: 0 1px #fbfcfc;
    
    font-size: 13px;
    padding: 6px 12px;
    font-family: inherit;
  }
  
  .subscribe__form:focus {
    outline: 1px solid #b59f5b;
    box-shadow: 0 1px #e6dfc8;
  }
  
  .subscribe__btn {
    display: block;
    width: 100%;
    height: 48px;
    background-color: #b59f5b;
    outline: none;
    border: 0;
    box-shadow: 0 -1px #e6dfc8;
    margin-top: 16px;
    
    font-family: inherit;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }
  
  .subscribe__btn:hover {
    background-color: #323232;
    box-shadow: 0 -1px #bbbbbb;
  }
  
  .sidebox__tags {
    margin-bottom: 60px;
  }
  
  .sidebox__tags_list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  
  .sidebox__tags_item {
    margin: 10px 10px 0 0;
  }
  
  .sidebox__tags_item_link {
    display: block;
    padding: 7px 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 12px;
    font-weight: bold;
    
    outline: 3px solid #eeeeee;
  }
  
  .sidebox__tags_item_link:hover {
    outline: 3px solid #b59f5b;
  }
  
  .sidebox__themes_list {
    list-style-type: none;
  }
  
  .sidebox__themes_item {
    display: block;
    padding-top: 17px;
    padding-left: 2px;
    padding-bottom: 17px;
    border-bottom: 1px solid #eeeeee;
   }
  
  .sidebox__themes_item_link {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-size: 14px;
    font-weight: bold;
  }
  
  .sidebox__themes_item_link:hover {
    color: #b59f5b;
  }
  
  .sidebox__superscript {
    font-size: 12px;
    font-weight: bold;
    color: #b59f5b;
    vertical-align: super;
    margin-left: 5px;
  }

  .shop {
    margin-top: 64px;
  }

  .shop__title {
    color: #0f0d0e;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 46px;
  }
  
  .shop__title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 15px auto 0;
  }
  
  .shop__item-list {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
  }

  .shop__item-wrp {
    border: 3px solid rgba(133, 120, 79, .4);
    padding: 5%;
    flex-grow: 1;
  }
  
  .shop__item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
  }

  .shop__item-picture {
    width: 90%;
    padding: 0 5%;
    position: relative;
    margin-bottom: -30px;
    z-index: -1;   
  }

  .shop__item-content {
    width: 90%;
  }


  .shop__item-title {
    color: #0f0d0e;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 25px;
  }

  .shop__item-text {
    font-size: 15px;
    line-height: 22px;
    margin-top: 15px;
  }

  .shop__link {
    text-decoration: none;
    color: #b59f5b;
  }

  .shop__link:hover {
    text-decoration: underline;
  }

  .shop__action {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .shop__price {
    margin-top: 35px;
    font-weight: bold;
  }

  .shop__old-price {
    display: block;
    text-decoration: line-through;
    font-size: 14px;
  }

  .shop__actual-price {
    display: block;
    font-size: 20px;
  }
 
  .shop__btn {
    display: block;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 29px;
    color: #ffffff;
    background-color: #b59f5b;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    .shop__item-list {
      flex-wrap: wrap;
    }
    .shop__item {
      width: 48%;
      margin-bottom: 30px;
    }
  }

  @media (max-width: 768px) {
    .shop__item-list {
      flex-wrap: wrap;
    }
    .shop__item {
      width: 98%;
      margin-bottom: 20px;
    }
  }
  

  .footer {
    margin-top: 60px;
  }
  
  .footer-wrap {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
  }
  
  .social-media {
    padding: 30px 0;
    background-color: #f4f7f6;
  }
  
  .social-media-link {
   list-style-type: none; 
   display: flex;
   justify-content: center;
  }
  
  .hidden-link {
    font-size: 0;
  }
  
  .social-media-link__icon {
    margin-right: 75px;
  }
  
  .social-media-link__icon:last-child {
    margin-right: 0;
  }
  
  .social-media-icon {
    display: inline-block;
    width: 25px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center top;
  }
  
  .twitter {
    background-image: url('../images/004-twitter.svg');
  }
  
  .pinterest {
    background-image: url('../images/001-pinterest.svg');
  }
  
  .tumblr {
    background-image: url('../images/003-tumblr.svg');
  }
  
  .copyright {
    padding-top: 74px;
    padding-bottom: 46px;
    text-align: center;
  }
  
  .copyright-link {
    text-decoration: none;
    color: #999999;
    font-weight: bold;
    font-size: 12px;
  }
  
  .pop-up_wrp {

    visibility: hidden;

    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .6);
  }

  .pop-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 390px;
    position: relative;
    box-sizing: border-box;

    background-color: #fff;

    padding: 55px 30px;
  }

  .pop-up_title {
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }

  .pop-up_title::after {
    content: "";
    display: block;
    width: 66px;
    height: 3px;
    background-color: #e1d9bd;
    margin: 14px auto 0;
  }

  .form_row {
    display: block;
    margin-bottom: 30px;
  }

  .form_row:last-child {
    margin-bottom: 0px;
  }

  .pop-up_text {
    font-size: 13px;
    display: block;
    margin-bottom: 10px;
  }

  .form_select {
    display: block;
    width: 100%;
    height: 35px;

    padding-left: 15px;

    font-size: 14px;
    color: #333333;
    font-family: Open-Sans, serif;

    border: none;
    background-color: #eeeeee;
    background-image: url('../images/form-arrows.svg');
    background-size: 8px auto;
    background-repeat: no-repeat;
    background-position: right 15px center;

    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .form_select:active {
    outline: none;
    border: 3px solid #a7973d;
  }

  .form_radio {
    display: none;
  }

  .form_radio-label::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
  
    width: 16px;
    height: 16px;
    margin-right: 10px;

    border: none;
    border-radius: 50%;
    outline: 1px solid #b59f5b;
    outline-offset: 4px;
    margin-left: 4px;

  }

  .form_radio-label {
    font-family: Open-Sans, serif;
    font-size: 13px;
    margin-right: 16px;
  }

  .form_radio-label:last-child {
    margin-right: 0px;
  }

  .form_radio:checked + .form_radio-label::before {    
    background: #b59f5b;
  }

  .form_textarea {
    box-sizing: border-box;
    height: 100px;
    min-height: 100px;
    width: 100%;
    max-width: 100%;
    padding: 10px 15px;
    border: none;
    background-color: #eeeeee;
    font-family: Open-Sans, serif;
  }

  .form_textarea:active {
    outline: none;
    border: 3px solid #a7973d;
  }

  .form_button {
    width: 100%;
    height: 50px;
  
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
  
    background-color: #b59f5b;
  }

  .form_button:hover {
    background-color: #323232;
  }

  .pop-up::before {
    content: "";
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: -30px;
    right: 0;
    transform: rotate(45deg);
  }

  .pop-up::after {
    content: "";
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    position: absolute;
    top: -30px;
    right: 0;
    transform: rotate(-45deg);
  }


  @media (max-width: 1199px) {

    .main-post::after {
      content: "";
      background-color: #eeeeee;
      width: 92%;
      height: 4px;
      margin-top: 22px;
    }
    .main-post__content {
      margin-left: 0;
    }

    .menu {
      visibility: hidden;

    }

    .burger-menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 36px;
    right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    }

    .burger-menu__icon, .burger-menu__icon::after, .burger-menu__icon::before  {
      display: block;
      position: absolute;
      width: 100%;
      height: 3px;
      background-color: #ffffff;
    }
    
    .burger-menu__icon::before {
      content: "";
      top: -8px;
    }

    .burger-menu__icon::after {
      content: "";
      top: 8px;
    }

    #burger-menu:checked ~ .burger-menu__btn > .burger-menu__icon {
      transform: rotate(45deg);
      background-color: #b59f5b;
    }
    #burger-menu:checked ~ .burger-menu__btn > .burger-menu__icon::before {
      top: 0;
      transform: rotate(90deg);
      background-color: #b59f5b;
    }
    #burger-menu:checked ~ .burger-menu__btn > .burger-menu__icon::after {
      visibility: hidden;
    }
    #burger-menu:checked ~ .menu {
      visibility: visible;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: #fff;
    }

    .menu__menu-item {
      display: block;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      padding: 0;

      position: relative;
      top: 5vh;
    }

    .menu__menu-item::after {
      content:"";
      display: block;
      background-color: #b59f5b;
      height: 3px;
      width: 50%;
      margin: 25px auto;
      position: relative;


    }

    .menu_item_link {
      color: #000;
    }

    .navigation-wrp {
      display: block;
    }

}

@media (min-width: 1200px) {
  .main-post:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 769px) and (max-width: 1199px) {
  .page-content {
    padding: 0 40px;
  }
  .title {
    font-size: 40px;
    line-height: 1.38;
  }
  .logo {
    width: 160px;
  }
  .banner {
    padding: 0 36px;
  }
}

@media (max-width: 768px) {
  .sidebox {
    width: 100%;
  }
  
  .main-post::after {
    width: 100%;
    }

  .title {
    font-size: 26px;
    line-height: 1.38;
    padding-top: 45px;
    padding-bottom: 220px;
    width: 85%;
    }

  .logo {
    padding-left: 0;
    width: 95%;
    max-width: 270px;
    margin: 220px auto 0;
  }
}